.center {
  text-align: center;
}

.special {
  font-weight: bolder;
  font-style: italic;
}

.sidebarright {
  width: 15%;
  padding: 10px;
  border: solid black;
  border-width: 8px;
  float: right;
  background-color: teal;
  margin-left: 10px;
  box-sizing: border-box;
}

.sidebarleft {
  width: 25%;
  float: left;
  background-color: teal;
  border: solid black;
  border-width: 7px;
  margin-right: 15px;
  box-sizing: border-box;
  padding: 6px;
}

body {
  background-color: gray;
}

img {
  border: solid black;
  float: left;
  padding: 5px;
}